@model Gestion_Centre_Formations.Models.AdminPage

@{
    Layout = "~/Views/Shared/_HeaderPanel.cshtml";
    ViewBag.Title = "Admin Dashboard";
}

<!--== breadcrumbs ==-->
<div class="sb2-2-2">
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admins")"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#"> Dashboard</a>
        </li>
    </ul>
</div>
<!--== DASHBOARD INFO ==-->
<div class="sb2-2-1">
    <h2>Admin Dashboard</h2>
    <div class="db-2">
        <ul>
            <li>
                <div class="dash-book dash-b-1">
                    <h5>All Courses</h5>
                    <h4>@Model.FormationsCount</h4>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-3">
                    <h5>Students</h5>
                    <h4>@Model.ParticipantsCount</h4>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-4">
                    <h5>Instructors</h5>
                    <h4>@Model.FormateursCount</h4>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-2">
                    <h5>Certificates</h5>
                    <h4>@Model.Certificates.Count()</h4>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--== User Details ==-->
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Student Details</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover" id="tablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var participant in Model.Participants)
                                {
                                    <tr>
                                        <td>
                                            <a href="#"><span class="list-enq-name">@participant.Nom @participant.Prenom</span></a>
                                        </td>
                                        <td>@participant.NumTel</td>
                                        <td>@participant.Email</td>
                                        <td>@participant.ParticipantID</td>
                                        <td>
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td><a href="@Url.Action("ProfileUser", "Admin", new { id = participant.ParticipantID })" class="ad-st-view">View</a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--== Courses Details ==-->
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Course Details</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Category</th>
                                    <th>Durations</th>
                                    <th>Prix</th>
                                    <th>Total Students</th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var formation in Model.Formations)
                                {
                                    <tr>
                                        <td>@formation.FormationID</td>
                                        <td>
                                            <a href="admin-student-details.html"><span class="list-enq-name">@formation.Titre</span><span class="list-enq-city">@formation.Description</span></a>
                                        </td>
                                        <td>@formation.Categorie</td>
                                        <td>@formation.Duration</td>
                                        <td>@formation.Prix</td>
                                        <td>@(formation.FormationParticipants != null ? formation.FormationParticipants.Count : 0)</td>
                                        <td>
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td><a href="admin-student-details.html" class="ad-st-view">View</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Import jQuery before materialize.js-->
<script src="~/assets/js/admain.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/materialize.min.js"></script>
<script src="~/assets/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="~/assets/js/datatables-simple-demo.js"></script>

