<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - TA'ALLAM</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content=""> <!-- Corrected from 'keyword' to 'keywords' -->
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="~/assets/images/Certificate/logo.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet">
    <link href="~/assets/css/materialize.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/admin.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fontawesome.css">
    <link href="~/assets/css/admin-mob.css" rel="stylesheet">
</head>
<body>
    <!--== MAIN CONTAINER ==-->
    <div class="container-fluid sb1">
        <div class="row">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="index-2.html" class="logo">
                    <img src="~/assets/images/logo.png" alt="TA'ALLAM Logo" style="height:60px;">
                </a>
            </div>
            <!--== SEARCH ==-->
            <div class="col-md-6 col-sm-6 mob-hide">
                <form class="app-search">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>
            </div>
            <!--== NOTIFICATION ==-->
            <div class="col-md-2 tab-hide">
                <div class="top-not-cen">
                    <a class='waves-effect btn-noti' href="@Url.Action("Payments", "Admins")" title="pending payments">
                        <i class="fa fa-money-bill" aria-hidden="true"></i>
                        <span>@ViewBag.PendingPaymentsCount</span>
                    </a>
                </div>
            </div>
            <!--== MY ACCOUNT ==-->
            <div class="col-md-2 col-sm-3 col-xs-6">
                <!-- Dropdown Trigger -->
                <a class='waves-effect dropdown-button top-user-pro' href='#' data-activates='top-menu'>
                    My Account <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

                <!-- Dropdown Structure -->
                <ul id='top-menu' class='dropdown-content top-menu-sty'>
                    <li>
                        <a href="@Url.Action("Index", "Admins")" class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("Logout", "Authentification")" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--== BODY CONTAINER ==-->
    <div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-1">
                <!--== USER INFO ==-->
                <div class="sb2-12">
                    <ul>
                        @{
                            var userName = Session["Nom"].ToString();
                            var userPrenom = Session["Prenom"].ToString();
                            var initials = userName.Substring(0, 1).ToUpper() + userPrenom.Substring(0, 1).ToUpper();
                        }
                            <li>
                                <a href="#" class="nav-link dropdown-toggle d-flex align-items-center"  >
                                    <div class="rounded-circle bg-primary-soft text-dark-bluee d-flex align-items-center justify-content-center" style="width: 40px; height: 40px; font-size: 16px;">
                                        @initials
                                    </div>
                                </a>
                            </li>
                            <li>
                                <h5>
                                    @{
                                        @(userPrenom + " " + userName)
                                    }
                                </h5>
                            </li>
                            <li></li>
                        </ul>
                </div>
                <!--== LEFT MENU ==-->
                <div class="sb2-13">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <a href="@Url.Action("Index", "Admins")" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="@Url.Action("Users", "Admins")">All Users</a></li>
                                    <li><a href="@Url.Action("CreateUser", "Admins")">Add New user</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i> All Courses</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="@Url.Action("Formations", "Admins")">All Course</a></li>
                                    <li><a href="@Url.Action("CreateFormation", "Admins")">Add New Course</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-newspaper" aria-hidden="true"></i> Actualites</a>
                            <div class="collapsible-body left-sub-menu">
                                <ul>
                                    <li><a href="@Url.Action("Actualites", "Admins")">All Actualites</a></li>
                                    <li><a href="@Url.Action("CreateActualite", "Admins")">Create New Actualite</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="@Url.Action("Payments", "Admins")"><i class="fa fa-money-bill" aria-hidden="true"></i>Payement</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Reviews", "Admins")"><i class="fa fa-comment" aria-hidden="true"></i>Reviews</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Certificates", "Admins")"><i class="fa fa-certificate" aria-hidden="true"></i>Certificat</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script src="~/assets/js/admain.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/materialize.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>